<h2 class="r-fit-text">History: The Free Software Movement</h2>
<div class="side-by-side">
  <table>
    <tbody>
      <tr>
        <th>
          <strong class="primary">1983</strong>
        </th>
        <td>
          Start of the GNU project
        </td>
      </tr>
      <tr>
        <th>
          <strong class="primary">1985</strong>
        </th>
        <td>
          Free Software Foundation founded
        </td>
      </tr>
      <tr>
        <th>
          <strong class="primary">1991</strong>
        </th>
        <td>
          Linux released
        </td>
      </tr>
    </tbody>
  </table>

  <img src="images/tux.png" alt="tux the linux mascot" width="300" height="364">
</div>