<h2 class="r-fit-text">History: The Culture of Sharing</h2>
<table>
  <tbody>
  <tr>
    <th><strong class="primary">early days</strong></th>
    <td>Software used to be shared</td>
  </tr>
  <tr>
    <th>
      <strong class="primary">1970s–80s</strong>
    </th>
    <td>
      <div>Businesses try to sell software
        <div class="m-l-2">&rarr; Conflict with culture of sharing</div>
      </div>
    </td>
  </tr>
  <tr>
    <th>
      <strong class="primary">1976</strong>
    </th>
    <td>
      Bill Gates&#39; &quot;Open Letter to Hobbyists&quot;
      <div class="m-l-2">&rarr; Condemns software sharing</div>
    </td>
  </tr>
  <tr>
    <th>
      <strong class="primary">early 1980s</strong>
    </th>
    <td>
      Code that was free was made proprietary
    </td>
  </tr>
</tbody>
</table>